/*
 * ======================================================================
 * Clearfix hack from http://nicolasgallagher.com/micro-clearfix-hack/
 * ======================================================================
 */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/*
 * ======================================================================
 * Page styles
 * ======================================================================
 */

body {
    font-family: "Verdana", "Georgia", serif;
}

.popover {
    position: absolute;
    background: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    /* TODO: needed? */
    max-width: 500px;
}

.popover-trigger:hover {
    cursor: pointer;
}

.step-more-info-popover {
    width: 400px;
}

button[disabled] {
    color: gray !important; /* Firefox doesn't color disabled buttons gray so this style is needed */
}

/*
 * ======================================================================
 * Sidebar styles
 * ======================================================================
 */

.sidebar {
    text-align: center;
    color: white;
    background-color: black;
}

.sidebar .app-name {
    font-size: 24pt;
}

.sidebar hr {
    width: 90%;
    border-color: gray;
    margin-bottom: 1.2em;
}

.sidebar button {
    width: 100px;
}

.sidebar .recent-puzzle-link {
    display: block;
    color: lightgray;
    margin-bottom: 1em;
}

.sidebar .clickable {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar .recents-container .ui-layout-north {
    padding-bottom: 15px;
}

.sidebar .ui-layout-center {
    padding-bottom: 7px;
    overflow: auto;
}

.sidebar .recents-container {
    height: 100%;
}

/*
 * ======================================================================
 * Dialog styles
 * ======================================================================
 */

.open-dialog {
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    border: 1px solid black;
    background-color: lightgray;
    width: 400px;
}

/*
 * ======================================================================
 * Griddler styles (not including the board)
 * ======================================================================
 */

.griddler {
    text-align: center;
    width: 100%;
    height: 100%;
}

.griddler .info-bar {
    width: 100%;
    height: 100%;
    background-color: #4072b4;
    color: white;
    padding: 5px;
    text-align: center;
    min-width: 860px;
    vertical-align: middle;
    border-bottom: 1px solid #33488d;
}

.griddler .info-bar .left {
    float: left;
    width: 29%;
    text-align: left;
}

.griddler .info-bar .right {
    float: right;
    width: 29%;
    text-align: right;
}

.griddler .info-bar .center {
    height: 100%;
    margin: 0 auto;
    display: table; /* this is set to table so that the buttons container can be
                    set to display: table-cell, which allows use of the
                    vertical-align: middle property */
}

.griddler .info-bar .button-container {
    display: table-cell;
    vertical-align: middle;
}

.griddler .info-bar .button-container button {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    background-color: #ececec;
    vertical-align: middle;
    margin: 2px;
    border-radius: 5px;
    font-size: 0.625em;
}

.griddler .info-bar .button-container button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.griddler .info-bar .griddler-identifier {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.griddler .info-bar .solver-status {
    font-size: 0.8em;
}

.griddler .info-bar .step-explanation-container .step-logic-type {
    font-style: italic;
}

.griddler .info-bar .restart-solver-link {
    color: lightgray;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}

/*
 * ======================================================================
 * Board styles
 * ======================================================================
 */

.board-container {
    padding: 5px;
    overflow: scroll;
}

.board {
    display: inline-block;
    border-collapse: collapse;
}

.board div {
    vertical-align: top;  /* TODO: get rid of this and only put this property on the divs that need it */
}

.board-square {
    background-color: white;
    border: 1px solid #3a3a3a;
    text-align: center;
    vertical-align: middle !important;  /* TODO: get rid of !important once you fix the above TODO */
    overflow: hidden;
}

.board-small .board-square {
    min-width: 15px;
    width: 15px;
    max-width: 15px;
    min-height: 15px;
    height: 15px;
    max-height: 15px;
    font-size: 7pt;
}

.board-medium .board-square {
    min-width: 20px;
    width: 20px;
    max-width: 20px;
    min-height: 20px;
    height: 20px;
    max-height: 20px;
    font-size: 10pt;
}

.board-large .board-square {
    min-width: 25px;
    width: 25px;
    max-width: 25px;
    min-height: 25px;
    height: 25px;
    max-height: 25px;
    font-size: 12pt;
}

.board-hint-square {
    background-color: lightsteelblue;
}

.board-empty-square {
    background-color: white;
}

.board-filled-square {
    background-color: black;
}

.board-unknown-square {
    background-color: gray;
}

.board-changed-square {
    /*-webkit-box-shadow: inset 0 0 10px lime;*/
    /*-moz-box-shadow: inset 0 0 10px lime;*/
    /*box-shadow:inset 0 0 10px lime;*/
    /*z-index: 999;*/

    /*background-color: crimson;*/
    /*border-radius: 50%;*/
    /*border-color: transparent;*/

    /*box-shadow: 0 0 0 2px crimson inset;*/
}

.board-changed-square:before {
    width: 100%;
    height: 100%;
    text-align: center;
    content: '\25CF';
    color: crimson;
    font-size: 2em;
    line-height: 10pt;
    vertical-align: top;
}