<!-- Metadata -->
<div id="metadataContainer">
    <% _.each(puzzle.metadata, function(value, key) { %>
    <span><strong><%- key %>: </strong><%- value %></span>
    <% }); %>
</div>

<div id="solveInfoContainer">
    <span><strong>Solve Time:</strong></span>
    <span id="solveTime"></span>
    <p></p>
</div>

<div style="display: inline-block; vertical-align: top;">
    <div id="boardContainer"></div>

    <!-- Traversal buttons -->
    <div id="buttonsContainer">
        <button class="previous"><< Previous</button>
        <button class="next">Next >></button>
        <p></p>
        <button class="jumpBeginning">Jump to Beginning</button>
        <button class="jumpEnd">Jump to Solution</button>
    </div>
</div>

<!-- Step Info -->
<div id="stepInfoContainer">
    <div id="currentStep"></div>
    <p></p>
    <div id="stepComment"></div>
</div>