<div class="ui-layout-north">
    <p class="app-name">Griddler Solver</p>

    <button class="open-button">Open...</button>
    <p></p>
    <button class="export-button">Export...</button>
    <p></p>
</div>
<div class="ui-layout-center">
    <div class="recents-container">
        <div class="ui-layout-north">
            <hr />
            <span><strong>Recents:</strong></span>
        </div>
        <div class="ui-layout-center">
            <div class="recent-links"></div>
            <button class="clear-recents-button">Clear Recents</button>
        </div>
    </div>
</div>